-- 1/25/2009 3:14 PM
-- Database information:
-- locale identifier: 1033
-- encryption mode: 
-- case sensitive: False

CREATE TABLE [AA] ([ID] int NOT NULL  IDENTITY (1,1) 
, [Portfolio] int NULL   
, [AA] nvarchar(255) NULL  
, [Target] numeric(6,2) NULL  
);
GO
CREATE TABLE [AvgPricePerShare] ([Ticker] int NULL   
, [Price] numeric(12,4) NULL  
);
GO
CREATE TABLE [ClosingPrices] ([Date] datetime NULL   
, [Ticker] nvarchar(10) NULL  
, [Price] numeric(12,4) NULL  
, [Change] numeric(18,4) NULL  
);
GO
CREATE TABLE [Dividends] ([Date] datetime NULL   
, [Ticker] nvarchar(10) NULL  
, [Amount] numeric(12,4) NULL  
);
GO
CREATE TABLE [NAV] ([Portfolio] int NULL   
, [Date] datetime NULL   
, [TotalValue] numeric(24,4) NULL  
, [NAV] numeric(24,8) NULL  
, [Change] numeric(18,4) NULL  
);
GO
CREATE TABLE [Portfolios] ([ID] int NOT NULL  IDENTITY (1,1) 
, [Name] nvarchar(100) NULL  
, [Dividends] bit NULL   
, [CostCalc] int NULL   
, [HoldingsShowHidden] bit NULL   
, [HoldingsSort] nvarchar(250) NULL  
, [NAVSort] bit NULL   
, [NAVStartValue] numeric(12,2) NULL  
, [AAThreshold] int NULL   
, [AASort] nvarchar(250) NULL  
, [AAShowBlank] bit NULL   
, [CorrelationShowHidden] bit NULL   
, [StartDate] datetime NULL   
);
GO
CREATE TABLE [Settings] ([DataStartDate] datetime NULL   
, [LastPortfolio] int NULL   
, [Version] numeric(6,2) NULL  
, [WindowX] int NULL   
, [WindowY] int NULL   
, [WindowHeight] int NULL   
, [WindowWidth] int NULL   
, [WindowState] int NULL   
, [Splits] bit NULL   
, [TickerDiv] bit NULL   
);
GO
CREATE TABLE [Splits] ([Date] datetime NULL   
, [Ticker] nvarchar(10) NULL  
, [Ratio] numeric(10,4) NULL  
);
GO
CREATE TABLE [Stats] ([Portfolio] int NULL   
, [Statistic] int NULL   
, [Location] int NULL   
);
GO
CREATE TABLE [Tickers] ([ID] int NOT NULL  IDENTITY (1,1) 
, [Ticker] nvarchar(10) NULL  
, [Portfolio] int NULL   
, [Active] bit NULL   
, [AA] int NULL   
, [Hide] bit NULL   
);
GO
CREATE TABLE [Trades] ([Date] datetime NULL   
, [Portfolio] int NULL   
, [TickerID] int NULL   
, [Ticker] nvarchar(10) NULL  
, [Shares] numeric(12,4) NULL  
, [Price] numeric(12,4) NULL  
, [ID] int NULL   
);
GO
CREATE TABLE [UserStatistics] ([ID] int NOT NULL  IDENTITY (1,1) 
, [SQL] nvarchar(4000) NULL  
, [Description] nvarchar(100) NULL  
, [Format] int NULL   
);
GO
SET IDENTITY_INSERT [AA] ON
GO
SET IDENTITY_INSERT [AA] OFF
GO
SET IDENTITY_INSERT [Portfolios] ON
GO
SET IDENTITY_INSERT [Portfolios] OFF
GO
Insert Into [Settings] ([DataStartDate],[LastPortfolio],[Version],[WindowX],[WindowY],[WindowHeight],[WindowWidth],[WindowState],[Splits],[TickerDiv]) Values ({ts '2008-01-02 12:00:00'},null,1.00,null,null,null,null,null,1,1);
GO
SET IDENTITY_INSERT [Tickers] ON
GO
SET IDENTITY_INSERT [Tickers] OFF
GO
SET IDENTITY_INSERT [UserStatistics] ON
GO
Insert Into [UserStatistics] ([ID],[SQL],[Description],[Format]) Values (1,N'SELECT NAV AS NAV
FROM NAV
WHERE Portfolio = %Portfolio%
AND Date = ''%PreviousDay%''',N'Beginning Index Value',2);
GO
Insert Into [UserStatistics] ([ID],[SQL],[Description],[Format]) Values (2,N'SELECT TotalValue
FROM NAV
WHERE Portfolio = %Portfolio%
AND Date = ''%PreviousDay%''',N'Beginning Value',0);
GO
Insert Into [UserStatistics] ([ID],[SQL],[Description],[Format]) Values (3,N'SELECT NAV AS NAV
FROM NAV
WHERE Portfolio = %Portfolio%
AND Date = ''%EndDate%''',N'Current Index Value',2);
GO
Insert Into [UserStatistics] ([ID],[SQL],[Description],[Format]) Values (15,N'SELECT Date
FROM NAV
WHERE Portfolio = %Portfolio%
AND Date BETWEEN ''%PreviousDay%'' AND ''%EndDate%''
AND NAV IN (
	SELECT MAX(NAV)
	FROM NAV
	WHERE Portfolio = %Portfolio%
	AND Date BETWEEN ''%PreviousDay%'' AND ''%EndDate%''
)',N'Maximum Index Value Day',4);
GO
Insert Into [UserStatistics] ([ID],[SQL],[Description],[Format]) Values (17,N'SELECT Date
FROM NAV
WHERE Portfolio = %Portfolio%
AND Date BETWEEN ''%PreviousDay%'' AND ''%EndDate%''
AND TotalValue IN (
	SELECT MAX(TotalValue)
	FROM NAV
	WHERE Portfolio = %Portfolio%
	AND Date BETWEEN ''%PreviousDay%'' AND ''%EndDate%''
)',N'Maximum Portfolio Value Day',4);
GO
Insert Into [UserStatistics] ([ID],[SQL],[Description],[Format]) Values (19,N'SELECT Date
FROM NAV
WHERE Portfolio = %Portfolio%
AND Date BETWEEN ''%PreviousDay%'' AND ''%EndDate%''
AND NAV IN (
	SELECT MIN(NAV)
	FROM NAV
	WHERE Portfolio = %Portfolio%
	AND Date BETWEEN ''%PreviousDay%'' AND ''%EndDate%''
)',N'Minimum Index Value Day',4);
GO
Insert Into [UserStatistics] ([ID],[SQL],[Description],[Format]) Values (21,N'SELECT Date
FROM NAV
WHERE Portfolio = %Portfolio%
AND Date BETWEEN ''%PreviousDay%'' AND ''%EndDate%''
AND TotalValue IN (
	SELECT MIN(TotalValue)
	FROM NAV
	WHERE Portfolio = %Portfolio%
	AND Date BETWEEN ''%PreviousDay%'' AND ''%EndDate%''
)',N'Minimum Portfolio Value Day',4);
GO
SET IDENTITY_INSERT [UserStatistics] OFF
GO
ALTER TABLE [AA] ADD PRIMARY KEY ([ID]);
GO
ALTER TABLE [Portfolios] ADD PRIMARY KEY ([ID]);
GO
ALTER TABLE [Tickers] ADD PRIMARY KEY ([ID]);
GO
ALTER TABLE [UserStatistics] ADD PRIMARY KEY ([ID]);
GO
GO
CREATE UNIQUE INDEX [DateTicker] ON [ClosingPrices] ([Date] Asc,[Ticker] Asc);
GO
CREATE UNIQUE INDEX [DateTicker] ON [Dividends] ([Date] Asc,[Ticker] Asc);
GO
CREATE UNIQUE INDEX [DatePortfolio] ON [NAV] ([Portfolio] Asc,[Date] Asc);
GO
CREATE UNIQUE INDEX [DateTicker] ON [Splits] ([Date] Asc,[Ticker] Asc);
GO
CREATE INDEX [DateTickerPortfolio] ON [Trades] ([Date] Asc,[Portfolio] Asc,[TickerID] Asc);
GO

